<%- include ('../partials/simmer999Head') %>

<%- include ('../partials/navBar') %>


<!-- <script type="importmap">{ "imports": { "three": "../../node_modules/three/build/three.module.js" } } </script> -->
<!-- <script src="https://threejs.org/build/three.js"></script> -->

<div id="canvas"></div>
<div id="container"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

<script src="/src/home22.js" type="module"></script>



<%- include ('../partials/footer') %>