<%- include('../partials/header1'); %>
<section class='index_BG'>
    <div class="container">
        <div id='name'>
            <h1> </h1><h2>Thesis and papers.</h2>
            <h3>3D rendering tacit knowledge. Strategies for knowledge retention.</h3>
        </div> 
        <footer>
            <div>  <a href = 'https://era.library.ualberta.ca/items/7158a451-c7cb-46c4-86b2-265069dd7cfe/view/11c7af1b-5321-4d29-aedc-25e774453c99/Vandervinne_Sipko_202003_MEd.pdf' class='menuButton'>Thesis</a>
            </div>
            <div>  <a href = 'Papers/Horizions of Modality.pdf'>Horizons</a>
            </div>
            <div>  <a href = 'Papers/Lifelong Learning and Truth.pdf'>Learning</a>
            </div>
            <div>  <a href = 'Papers/Tacit Knowledge.pdf'>Tacit Knowledge</a>
            </div> 
            <div>  <a href = "Papers/What's So Hermeneutic.pdf">Fictionalism</a>
            </div> 
        </footer>
    </div> 
</section> 
<%- include('../partials/footer'); %>